In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
data = pd.read_csv('/content/Sales_add (1).csv')
data

       Month  ... Sales_After_digital_add(in $)
0    Month-1  ...                        270390
1    Month-2  ...                        223334
2    Month-3  ...                        244243
3    Month-4  ...                        231808
4    Month-5  ...                        258402
5    Month-6  ...                        256948
6    Month-7  ...                        222106
7    Month-8  ...                        230637
8    Month-9  ...                        226261
9   Month-10  ...                        193735
10  Month-11  ...                        203175
11  Month-12  ...                        276279
12  Month-13  ...                        205180
13  Month-14  ...                        253131
14  Month-15  ...                        229336
15  Month-16  ...                        187305
16  Month-17  ...                        234908
17  Month-18  ...                        191517
18  Month-19  ...                        227040
19  Month-20  ...                        212579
20  Month-21  ...                        263388
21  Month-22  ...                        243020

[22 rows x 5 columns]

In [4]:
data.columns

Index(['Month', 'Region', 'Manager', 'Sales_before_digital_add(in $)',
       'Sales_After_digital_add(in $)'],
      dtype='object')

In [5]:
data.describe()

       Sales_before_digital_add(in $)  Sales_After_digital_add(in $)
count                       22.000000                      22.000000
mean                    149239.954545                  231123.727273
std                      14844.042921                   25556.777061
min                     130263.000000                  187305.000000
25%                     138087.750000                  214960.750000
50%                     147444.000000                  229986.500000
75%                     157627.500000                  250909.000000
max                     178939.000000                  276279.000000

1.A company started to invest in digital marketing as a new way of their product
promotions.For that they collected data and decided to carry out a study on it.

● The company wishes to clarify whether there is any increase in sales after
stepping into digital marketing.

In [6]:
data['Region'].unique()

array(['Region - A', 'Region - B', 'Region - C'], dtype=object)

In [18]:
regA=data[data['Region']=='Region - A']
regA.describe()

       Sales_before_digital_add(in $)  Sales_After_digital_add(in $)
count                       10.000000                      10.000000
mean                    148204.900000                  238853.100000
std                      17759.955752                   27111.634372
min                     130263.000000                  187305.000000
25%                     133981.500000                  225159.750000
50%                     145210.500000                  238964.000000
75%                     152248.250000                  255993.750000
max                     178939.000000                  276279.000000

In [19]:
regA

       Month  ... Sales_After_digital_add(in $)
0    Month-1  ...                        270390
1    Month-2  ...                        223334
5    Month-6  ...                        256948
7    Month-8  ...                        230637
11  Month-12  ...                        276279
13  Month-14  ...                        253131
15  Month-16  ...                        187305
16  Month-17  ...                        234908
19  Month-20  ...                        212579
21  Month-22  ...                        243020

[10 rows x 5 columns]

In [21]:
regB=data[data['Region']=='Region - B']
regB.describe()

       Sales_before_digital_add(in $)  Sales_After_digital_add(in $)
count                        7.000000                       7.000000
mean                    150523.571429                  228727.857143
std                      12287.968233                   21086.791959
min                     132135.000000                  203175.000000
25%                     145670.000000                  215720.500000
50%                     147425.000000                  227040.000000
75%                     155753.000000                  238025.500000
max                     171259.000000                  263388.000000

In [22]:
regC=data[data['Region']=='Region - C']
regC.describe()

       Sales_before_digital_add(in $)  Sales_After_digital_add(in $)
count                         5.00000                       5.000000
mean                     149513.00000                  219019.200000
std                       14662.27068                   27670.523156
min                      130625.00000                  191517.000000
25%                      141956.00000                  193735.000000
50%                      147463.00000                  222106.000000
75%                      159525.00000                  229336.000000
max                      167996.00000                  258402.000000

In [31]:
for i in data['Manager'].unique():
  mngr=data[data['Manager']==i]
  print(mngr.describe())

       Sales_before_digital_add(in $)  Sales_After_digital_add(in $)
count                        9.000000                       9.000000
mean                    145875.222222                  244402.666667
std                      14596.609108                   23410.660221
min                     131140.000000                  205180.000000
25%                     132921.000000                  229336.000000
50%                     146278.000000                  244243.000000
75%                     147463.000000                  263388.000000
max                     178939.000000                  276279.000000
       Sales_before_digital_add(in $)  Sales_After_digital_add(in $)
count                        6.000000                       6.000000
mean                    146984.500000                  225467.333333
std                      16329.359323                   13495.554819
min                     130263.000000                  203175.000000
25%                     133184.250000                  222413.000000
50%                     145210.500000                  224797.500000
75%                     156894.000000                  232746.250000
max                     171259.000000                  243020.000000
       Sales_before_digital_add(in $)  Sales_After_digital_add(in $)
count                        7.000000                       7.000000
mean                    155499.285714                  218899.142857
std                      14040.774584                   30539.536525
min                     137163.000000                  187305.000000
25%                     147061.500000                  192626.000000
50%                     152493.000000                  212579.000000
75%                     163760.500000                  244378.000000
max                     177195.000000                  258402.000000

In [13]:
data['Manager'].unique()

array(['Manager - A', 'Manager - C', 'Manager - B'], dtype=object)

In [14]:
#!pip install scipy --upgrade

In [24]:
import scipy.stats as stats

H0:There is no significant difference between the sales before and after digital marketing.

H1:There is significant difference between he salesbefore and after digital marketing.

In [27]:
stats.ttest_rel(data['Sales_before_digital_add(in $)'],data['Sales_After_digital_add(in $)'],alternative='two-sided')

Ttest_relResult(statistic=-12.09070525287017, pvalue=6.336667004575778e-11)



Here p value is less than 0.05 hence we reject the null hypothesis ie there is significant difference between sales before and after digital marketing.

2. The company needs to check whether there is any dependency between the
features “Region” and “Manager”.

H0:There is no dependency between the features “Region” and “Manager”.

H1:There is dependency between the features “Region” and “Manager”.

In [30]:
mngrA = data[data['Manager']=='Manager - A']
mngrB = data[data['Manager']=='Manager - B']
mngrC = data[data['Manager']=='Manager - C']

In [32]:
regA_effect = stats.ttest_rel(regA['Sales_before_digital_add(in $)'],regA['Sales_After_digital_add(in $)'],alternative='two-sided')
regA_effect

Ttest_relResult(statistic=-8.022685378893854, pvalue=2.1639524426701315e-05)

In [33]:
regB_effect = stats.ttest_rel(regB['Sales_before_digital_add(in $)'],regB['Sales_After_digital_add(in $)'],alternative='two-sided')
regB_effect

Ttest_relResult(statistic=-7.873259944004668, pvalue=0.00022229354139018356)

In [35]:
regC_effect = stats.ttest_rel(regC['Sales_before_digital_add(in $)'],regC['Sales_After_digital_add(in $)'],alternative='two-sided')
regC_effect

Ttest_relResult(statistic=-4.960070753726336, pvalue=0.007705720954844741)

In [36]:
mngrA_effect = stats.ttest_rel(mngrA['Sales_before_digital_add(in $)'],mngrA['Sales_After_digital_add(in $)'],alternative='two-sided')
mngrA_effect

Ttest_relResult(statistic=-13.936918070719491, pvalue=6.803929326088197e-07)

In [37]:
mngrB_effect = stats.ttest_rel(mngrB['Sales_before_digital_add(in $)'],mngrB['Sales_After_digital_add(in $)'],alternative='two-sided')
mngrB_effect

Ttest_relResult(statistic=-4.265690802390871, pvalue=0.005288051621766116)

In [38]:
mngrC_effect = stats.ttest_rel(mngrC['Sales_before_digital_add(in $)'],mngrC['Sales_After_digital_add(in $)'],alternative='two-sided')
mngrC_effect

Ttest_relResult(statistic=-7.416152198860617, pvalue=0.0007019752082466395)

Here  in all the cases the p value is less than 0.05 hence we reject the null hypothesis ie there is dependency between the features “Region” and “Manager”.